language: node_js
node_js:
- '5'
deploy:
  provider: releases
  api_key:
    secure: TiHd0EHdoiTJnHKO1lo5U//qzZ5VgynAcOqr8zFEvHzu7uNLWotTwoXMxlDDRVFg68udWRXLXQBSXp7RL6grNq29L7/XDBFVkFY99prEYUB18aRcXyDgbZbGfv1ZeQ7nnCdoz9m5AhwCcYHjIPblnvc5V2nyVyaGRhOVfvQrhVo=
  file:
    - "dist/index.js"
    - "dist/index.js.map"
  skip_cleanup: true
  on:
    repo: MiguelCastillo/bit-loader
    tags: true
    all_branches: true
